.container {
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}
.container img {
  position: absolute;
  /* top: -35%;
    left: 8%; */
  top: -25%;
  left: 25%;
}
.description {
  display: flex;
  justify-content: space-between;
}
.description button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.left h3 {
  font-weight: 900;
  font-size: 80px;
  /* margin-left: 25px; */
  margin: 0 0 0 25px;
}
.left p {
  margin: 18px;
}

.right {
  line-height: 1.4;
}
.right h3 {
  font-weight: 800;
  font-size: 60px;
  margin: 0;
}
.right p {
  font-size: 18px;
  margin: 0;
}
.right .company-desc {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  .container {
    height: 560px;
    margin-top: 80px;
  }
  .container img {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }
  .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }
  .left p {
    margin: 18px;
  }
  .right h3 {
    font-size: 45px;
  }
  .right p {
    font-size: 18px;
  }
  .right .company-desc {
    font-size: 14px;
  }
  .description {
    flex-wrap: wrap;
    gap: 20px;
  }
}
